@CHARSET "UTF-8";

.x-grid-row .calc-input-cell {
    background-color: #DFE9F5;
}

/*
Loading Animation
*/

#loading_animation {
    background-image: url(../image/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 128px;
    height: 128px;
    text-align: center;

    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}
