<p>
<ul>
    <li>{[Calc.Language.translate('Click on an "Input Amount" cell to input a value')]}.</li>
    <li>{[Calc.Language.translate('You can change the values too by clicking on them')]}.</li>
    <li>{[Calc.Language.translate('Rightclick on an orb row to open a chart')]}.</li>
</ul>
</p>

<p>
{[Calc.Language.translate(
    'For concerns about orb values please leave comments on thread {0}', 
    ['<a href="http://www.pathofexile.com/forum/view-thread/441192" target="_blank">441192</a>']
)]}.
</p>

<p>
    <h3>Disclaimer:</h3>
    {[Calc.Language.translate('Calculations base on the {0}', ['<b>Anarchy League</b>'])]}.
</p>

