<h1>{title}</h1>
<h3>{type} {errorMsg}</h3>
<p><b>{msg}</b></p>
<p>
  <div>
    <p>{[Calc.Language.translate('Possibile reasons for that could be:')]}</p>
    <ul>
      <li>{[Calc.Language.translate('Address (URL) is wrong.')]}</li>
      <li>{[Calc.Language.translate('The requested site was removed or is temporarily not available.')]}</li>
      <li>{[Calc.Language.translate('You clicked a link which leads to a site which does not exist anymore.')]}</li>
      <li>{[Calc.Language.translate('Something is fucked up...')]}</li>
    </ul>
  </div>
</p>
